acl corpnets {
	192.168.42.0/23;
	127.0.0.0/8;
	172.17.0.0/16;
};

options {
	directory "/var/cache/bind";
	forwarders {
		1.1.1.1;
		8.8.8.8;
		9.9.9.9;
	};
	forward first;
	dnssec-validation no;	
	allow-query { corpnets;  };
};

statistics-channels {
	inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

key "transfer.key" {
	algorithm hmac-sha256;
	secret "{{ transfer_key_secret }}";
};

key "nsupdate.key" {
	algorithm hmac-sha256;
	secret "{{ nsupdate_key_secret }}";
};

